body {
    color: lightgray;
}

.block {
    max-height: 15em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imgcustom {
    max-height: 180px;
}

.image {
    margin: 2% auto;
    float: left;
}

.deletebutton a {
    color: lightgray !important;
    text-decoration: none !important;
}

.textblock {
    margin: 3%;
}

.linkcustom {
    color: lightgray !important;
    text-decoration: none !important;
}

.comblock {
    border: 3px solid gray;
    border-radius: 5px;
    height: 21em;
    margin: 2% auto;
}

.countblock {
    margin: 1% 1%;
}

.deletebutton {
    margin: 1% 1%;
    text-align: center;
}

.caption {
    font-size: 40px;
    text-align: center;
    color: lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin: 2%;
    width: 100%;
}

.gradient-text {
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, red 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
    font-weight: bold;
}

.inputprice {
    border: none;
    font-size: 20px;
    color: green;
}