@font-face {
    font-family: 'Gilroy Ultra Light';
    src: url('Gilroy-UltraLight.eot');
    src: url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'), url('Gilroy-UltraLight.woff') format('woff'), url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    color: gray;
}

.nav {
    font-size: 17px;
}